<div class="row">
  <div >
    <div ngbDropdown class="d-inline-block">
      <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><img height="40" width="40" src="src/includes/img/bars.jpg"></a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item nav-link-select" href="about">About</a>
        <a class="dropdown-item nav-link-select" href="staff">Staff</a>
        <a class="dropdown-item nav-link-select" href="students">Students</a>
        <a class="dropdown-item nav-link-select" href="community">Community</a>
        <a class="dropdown-item nav-link-select" href="news">News</a>
      </div>
    </div>
  </div>
</div>