<div class="container">
	<!-- <div class="row">
		<div class="margin-auto">
			<div>		
			<div class="row">
			<h5 class="center-text display-6">Announcements</h5>
			</div>
			<div class="form-border"></div>
			<div class="list-group">
			  <a class="list-group-item list-group-item-action flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">New episode just relased go view it!!</h5>
			      <small>1 minute ago</small>
			    </div>
			    <p class="mb-1">New video can be viewed on the <a href="">wiki</a></p>
			  </a>
			  <a class="list-group-item list-group-item-action flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">New gif of most recent fight has been uploaded</h5>
			    </div>
			    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			</div>
		</div>	
		</div>
	</div>
	 <div class="form-border form-margin"></div> -->
	 <div class="alert alert-info"><p class="text-secondary">News is currently up to date for the past 4 hours</p></div>
	<div >
		<h4 class="display-5">News</h4>
		<div class="form-border form-margin"></div>
		<div>
		<app-accordion-basic></app-accordion-basic>	
		</div>
	</div>
</div>
  
<!-- <p id="one"> The super moon was pretty awesome. </p>
<p class="one" id="two"> never underestimate the power of a thank you
</p>
<div class = "three">
 <p> If only I knew! </p>
 <img src="flower.jpg" alt="this is a flower">
</div> -->
