	<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand" href="#">My Hero Wiki</a>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
      	<li class="nav-item active">
        </li
>        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="staff">Staff</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">Settings</a>
        </li>
      </ul>
    </div>
   
    <a class="navbar-brand banner-link btn btn-primary" target="_blank" href="http://bokunoheroacademia.wikia.com/wiki/My_Hero_Academia_Wiki">Wiki Source</a>
    <!-- <a class="navbar-brand banner-link btn btn-primary" href="settings"><i class="fa-arrow-down"></i></a> -->
	</nav>	
	</div>