<div class="form-border"></div>
	<div >
  <nav class="navbar navbar-expand-lg navbar-light bg-light full-nav">

    <a class="navbar-brand navbar-hover" href="#"><img height="50" width="50" src="src/includes/img/logo_small.jpg"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <app-ng-bd-dropdown-basic class="navbar-hover"></app-ng-bd-dropdown-basic>
        <!-- <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="staff">Staff</a>
        </li> -->
        <li class="nav-item navbar-hover">
          <a [ngClass]="[currentPath == 'school'? 'active' : '']" class="nav-link" href="school">School</a>
        </li>
        <li class="nav-item navbar-hover">
          <a [ngClass]="[currentPath == 'community'? 'active' : '']" class="nav-link" href="community">Community</a>
        </li>
        <li class="nav-item navbar-hover">
          <a [ngClass]="[currentPath == 'news'? 'active' : '']" class="nav-link" href="news">News</a>
        </li>
        <li class="nav-item navbar-hover">
          <a [ngClass]="[currentPath == 'calendar'? 'active' : '']" class="nav-link" href="calendar">Calendar</a>
        </li>
        <!-- <li class="nav-item navbar-hover"> -->
          <!-- <a [ngClass]="[currentPath == 'contact'? 'active' : '']" class="nav-link" href="contact">Contact us</a> -->
        <!-- </li> -->
      </ul>
    </div>
   
    <a [ngClass]="[currentPath == 'contact'? 'active' : '']" class="white navbar-brand btn btn-primary nav-link" href="contact" style="color: white;">Contact us</a>
    <a class="navbar-brand btn btn-light" target="_blank" href="http://bokunoheroacademia.wikia.com/wiki/My_Hero_Academia_Wiki">Wiki Source</a>
    <!-- <a class="navbar-brand banner-link btn btn-primary" href="settings"><i class="fa-arrow-down"></i></a> -->
  </nav>  
  </div>
  <div>
    <app-ngb-dropdown-condensed  class="small-nav"></app-ngb-dropdown-condensed>    
  </div>
<div class="form-border"></div>
