<div>
	<div class="container">
		<tfoot>
			<h4 class="display-5">High School</h4>
			<div class="form-border"></div>
			<div class="row">
				<div class="card-body col-md-6">
					<label class="p10 display-6">History</label>
					<div class="form-border"></div>
					<div>U.A. is the #1 ranked high school for heroics and is considered as the top Hero Academy in Japan. Students are separated into specific Departments and Classes - A, B, C, D, E, F, G, H, I, J and K. At the entrance, there is a security wall nicknamed the "U.A. Barrier" that automatically closes if a person does not have a Student ID Card or Special Entry Permission ID. Many precautions have been made to keep members of the press and villains out.</div>
				</div>
				<div class="card-body col-md-6">
					<label class="p10 display-6">Classes</label>
					<div class="form-border"></div>
					<div>
						<ul>
							<li>Department of Heroes</li>
							<li>Department of General Education</li>
							<li>Department of Support</li>
							<li>Department of Management</li>
						</ul>
					</div>
				</div>
				<div class="form-border"></div>
			</div>
			<div>
				<img width="100%" height="500" alt="Banner" src="src/includes/img/ua_building.jpg">
				<p>Figure 1: This is the main High School in U.A.</p>
			</div>
		</tfoot>
		<div class="row">
			<div class="card-body">
				<label class="display-6">Housing</label>
				<div class="form-border"></div>
			</div>
			<div class="card-body">
				<label class="display-6">Tour</label>
				<div class="form-border"></div>
			</div>
		</div>
	</div>
</div>
