<div style="background-color: #E9EBED;">
<div class="container">
	<h4 class="display-5">U.A. Staff</h4>
	<div class="alert alert-info">Please <b>click on</b> a name to view more detail</div>
	<div class="form-border"></div>
	<div class="row"> 
		<div class="col-md-3">
			<div class="card card-info" style="width: 18em;">
				<img class="card-img-top" src="src/includes/img/Toshinori.jpg" alt="Card image cap">

				<label class="card-header display-small label-hover" style="text-align: center;"><a class="" (click)="showInfo('Toshinori')">Toshinori Yagi</a></label>
				<div class="card-body" *ngIf="checkIfSelected('Toshinori')">
						<label class="p10">Appearance</label>
						<div class="form-border"></div>
						<div>In his "muscle form", All Might is a very large man with an equally muscular and well-defined physique. His design resembles a typical western comic book superhero. He has short blonde hair with two distinct bangs that stand up over his head. All Might's hair often casts a dark shadow over his face, hiding everything but his deep blue eyes.</div>
						<label class="p10">Personality</label>
						<div class="form-border"></div>
						<div>All Might's hero persona appears to be derived from western superhero stereotypes. His personality is very colorful and tends to have a lot of dramatic flair. Always sporting a giant smile, All Might usually show off a bright, borderline obnoxious, can-do attitude to inspire others. He tends to be extremely friendly and amicable, due to his popularity and years in the spotlight</div>
						<label class="p10">Abilities</label>
						<div class="form-border"></div>
						<div>
							<ul>
								<li><b>Strength: </b>A single punch from All Might could not only defeat a villain but completely change the weather shortly afterward. It also has the power to completely destroy several city blocks from the wind pressure it creates. </li>
								<li><b>Speed: </b> In conjunction with his immense level of physical strength, All Might possesses an equally impressive amount of speed. </li>
								<li><b>Near Invulnerability: </b>All Might has extreme durability, almost to the point of being completely invulnerable to attacks. He sustained no life-threatening damage from his battle with Nomu and took point blank, unrestrained explosions from Katsuki without so much as slowing down at all.</li>
								<li><b>Stamina:</b>in his prime years, it was noticed that All Might has never been shown to be tire even when fighting against multiple villains. </li>
								<li><b>Spirit: </b>All Might's will is clear in almost all of his actions as a Hero. He is known for saving people with a smile and his catchphrase "I am here"</li>
							</ul>
						</div>

				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-info" style="width: 18em;">
				<img class="card-img-top" src="src/includes/img/Nemuri.jpg" alt="Card image cap">

				<label class="card-header display-small label-hover" style="text-align: center;"><a class="" (click)="showInfo('Nemuri')">Nemuri Kayama</a></label>
				<div class="card-body" *ngIf="checkIfSelected('Nemuri')">
					<label class="p10">Appearance</label>
					<div class="form-border"></div>
					<div>Nemuri is a very playful and flirtatious person with a serious and angry side to her. She gets angry whenever someone interrupts her or when they mention her age and insult her.</div>
					<label class="p10">Personality</label>
					<div class="form-border"></div>
					<div>Nemuri is a very playful and flirtatious person with a serious and angry side to her. She gets angry whenever someone interrupts her or when they mention her age and insult her.</div>
					<label class="p10">Abilities/Quirks</label>
					<div class="form-border"></div>
					<div>Nemuri's Quirk allows her to put targets to sleep by exuding a sleep-inducing aroma from her body. The sleep-inducing aroma works better on males than females.</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-info" style="width: 18em;">
				<img class="card-img-top" src="src/includes/img/Hizashi.jpg" alt="Card image cap">

				<label class="card-header display-small label-hover" style="text-align: center;"><a class="" (click)="showInfo('Hizashi')">Hizashi Yamada</a></label>
				<div class="card-body" *ngIf="checkIfSelected('Hizashi')">
					<label class="p10">Appearance</label>
					<div class="form-border"></div>
					<div>Hizashi is a tall, slender man with long, spiky blonde hair and a small mustache. He wears a pair of headphones with the word "HAGE" written on the headband and a pair of sunglasses. When his eyes are visible, they appear as concentric circles. He is almost always seen with a large smile on his face.</div>
					<label class="p10">Personality</label>
					<div class="form-border"></div>
					<div>Hizashi maintains the persona of a radio host. He often poses when he talks and keeps a certain level of excitement or loudness regardless of the situation.</div>
					<label class="p10">Abilities</label>
					<div class="form-border"></div>
					<div>
						<ul>
							<li><b>Keen Intellect:</b>Present Mic was the first of the teachers to point out the possibility of a traitor in U.A., even stating his reasons for why this would be the case.</li>
							<li><b>Voice:</b>Present Mic's Quirk allows him to increase the volume of his voice, giving him the ability to create loud high pitched sounds. The sound from Present Mic's Quirk is strong enough to cause people's ears to bleed.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-info" style="width: 18em;">
				<img class="card-img-top" src="src/includes/img/Shota.jpg" alt="Card image cap">

				<label class="card-header display-small label-hover" style="text-align: center;"><a class="" (click)="showInfo('Shota')">Shota Aizawa</a></label>
				<div class="card-body" *ngIf="checkIfSelected('Shota')">
					<label class="p10">Appearance</label>
					<div class="form-border"></div>
					<div>hota is a slender and tall man with messy, shoulder-length black hair that partially hangs in front of his face and often half-opened black eyes. He also is quite pale. Shota is usually recognized for his worn-out appearance</div>
					<label class="p10">Personality</label>
					<div class="form-border"></div>
					<div>Shota is a very stern and mostly reserved man who has lofty expectations of his students. He is primarily moved by logic and does not believe in the necessity to maintain a clean-cut appearance or filter his words or ideas for others. He often comes off as cold, apathetic, and impatient and exhorts very little energy in most situations, preferring to take naps in his sleeping bag instead	</div>
					<label class="p10">Abilities</label>
					<div class="form-border"></div>
					<div>
						<ul>
							<li><label><b>Keen Intellect:</b> </label> Shota had been seen to have keen observation and evaluation skills. He can easily evaluate his student's personalities and their mental state. </li>
							<li><label><b>Hand-to-Hand-Combat:</b> </label>Without his quirk, Eraser Head relies on hand to hand and is shown to be an expert in close quarters combat. He uses his combat skills successively with his capturing weapon and is very strong, as well as quick.</li>
							<li><label><b>Erasure:</b> </label> Shota's Quirk gives him the ability to nullify anyone's Quirk by looking at them. While powerful, this ability has many drawbacks.	</li>
						</ul>						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m20"></div>
	<div class="container">
		<tfoot>
			<h4 class="display-5">High School</h4>
			<div class="row">
				<div class="card-body col-md-6">
					<label class="p10">History</label>
					<div class="form-border"></div>
					<div>U.A. is the #1 ranked high school for heroics and is considered as the top Hero Academy in Japan. Students are separated into specific Departments and Classes - A, B, C, D, E, F, G, H, I, J and K. At the entrance, there is a security wall nicknamed the "U.A. Barrier" that automatically closes if a person does not have a Student ID Card or Special Entry Permission ID. Many precautions have been made to keep members of the press and villains out.</div>
				</div>
				<div class="card-body col-md-6">
					<label class="p10">Classes</label>
					<div class="form-border"></div>
					<div>
						<ul>
							<li>Department of Heroes</li>
							<li>Department of General Education</li>
							<li>Department of Support</li>
							<li>Department of Management</li>
						</ul>
					</div>
				</div>
				<div class="form-border"></div>
			</div>
			<div>
				<img width="100%" height="500" alt="Banner" src="src/includes/img/ua_building.jpg">
				<p>Figure 1: This is the main High School in U.A.</p>
			</div>
		</tfoot>
	</div>
</div>
</div>