/* You can add global styles to this file, and also import other style files */
.width-352{
	width: 352px;
}

.display-6{
	line-height: 1.2;
	font-weight: 300;
	font-size: 2.5em;
}
.display-5{
	line-height: 1.2;
	font-weight: 300;
	font-size: 3.5em;
}
.display-4{
	line-height: 1.;
	font-weight: 300;
	font-size: 4.5em;
}

.banner-link{
	color: white !important;
}

.banner-link:hover{
	background-color: #3985B4;
}

.form-border{
	border-bottom: 1px solid black !important;
}
.form-margin{
	margin-top: 10px;
	margin-bottom: 10px;
}

.display-small{
	line-height: 1.2.;
	font-weight: 300;
	font-size: 1.2em;
}

.heavy-text{
	font-weight: bold;
}

.card-info:hover{
	background-color: #E9EBED !important;
}
.p10{
	padding-top: 10px;
}

.label-hover:hover{
	text-decoration: underline;
	text-decoration-color: black;
	cursor: pointer;
}

.m20{
	margin: 20px;
}

.width-900{
	width: 900px;
}
.nav-link-select:hover{
	background-color: #ECECEC;
	text-decoration: underline;
	cursor: pointer;
}

.center-text{
	text-align: middle; 
	margin: auto !important;
}

.mt-2em{
	margin-top: 2em;
}

.margin-auto{
	margin: auto !important;
}
.navbar-hover:hover{
	background-color: #EDEDED;
}

.carousel-dimensions{
	height: 50%;
	width: 100%;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbo-image{
	background-image: url('src/includes/img/jumbotron.jpg') !important;
	background-repeat: no-repeat;
}

.text-white{
	color: white !important;
}

.font-heavy{
	font-weight: 800;
}

@media only screen and (max-width: 800px) {
	.full-nav{
		display: none;
	}
}
@media only screen and (min-width: 1000px) {
	 .small-nav{
		display: none;
	} 
}
