/* You can add global styles to this file, and also import other style files */
.width-352{
	width: 352px;
}

.display-6{
	line-height: 1.2;
	font-weight: 300;
	font-size: 2.5em;
}
.display-5{
	line-height: 1.2;
	font-weight: 300;
	font-size: 3.5em;
}
.display-4{
	line-height: 1.;
	font-weight: 300;
	font-size: 4.5em;
}

.banner-link{
	color: white !important;
}

.banner-link:hover{
	background-color: #3985B4;
}

.form-border{
	border-bottom: 1px solid black !important;
}

.display-small{
	line-height: 1.2.;
	font-weight: 300;
	font-size: 1.2em;
}

.heavy-text{
	font-weight: bold;
}

.card-info:hover{
	background-color: #E9EBED !important;
}
.p10{
	padding-top: 10px;
}

.label-hover:hover{
	text-decoration: underline;
	text-decoration-color: black;
}

.m20{
	margin: 20px;
}