<div style="text-align:center">
  <h1>
    <!-- {{ title }}! -->
  </h1>
  <img width="300" alt="Main Logo" src="src/includes/img/logo.jpg">
</div>
<div class="container">
  <input class=" form-control" type="text" name="search" [(ngModel)]="search" placeholder="search...">
</div>
<div class="container">
	<div class="row">
		<div class="margin-auto">
			<app-ngbd-carousel-basic carsouelType='1' height='400' width='1000'></app-ngbd-carousel-basic>
		</div>
	</div>
	<div class="row">
	    <div class="center-block margin-auto">
	      <p style="text-align: middle;">Wiki powered by Ryan </p>
	    </div>
	</div>
</div>
<!-- <app-servers></app-servers> -->
